body {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-height: 100vh;
	max-width: 100vw;
	background-image: url("../images/background.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-color: #320a62;
	font-family: Arial;
}


/* menu */

#up {
	display: flex;
	flex-direction: row;
	font-size: 16pt;
	font-family: Arial;
}

#menu {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 60vw;
	height: 5vh;
	margin: 3vh;
}

.menu {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: rgba(100, 100, 100, 0.3);
	width: 15vw;
	height: 8vh;
	margin: 3px;
	border: 2px solid transparent;
	border-color: rgb(255, 255, 50);
	animation: neon-animation 1.5s infinite alternate;
}

#current-html {
	border: 0;
	justify-content: center;
    align-items: center;
	background-color: rgba(0, 0, 0, 0);
	color: rgb(50, 255, 255);
	animation: current-text-neon-animation 1.5s infinite alternate;
}

#current-html p {
	display: flex;
    justify-content: center;
    align-items: center;
	width: 15vw;
	height: 8vh;
}

#menu a {
	display: flex;
    justify-content: center;
    align-items: center;
	color: rgb(255, 255, 50);
	text-decoration: none;
	width: 15vw;
	height: 8vh;
	backdrop-filter: blur(2px);
	-webkit-backdrop-filter: blur(2px);
	animation: text-neon-animation 1.5s infinite alternate-reverse;
}

#logo {
	margin-right: 10vw;
}

#logo img{
	width: 5vw;
	height: 5vw;
}

#music {
	margin-left: 10vw;
}

#music img{
	width: 5vw;
	height: 5vw;
}


/* main */

#main {
	display: flex;
	justify-content: center;
    align-items: center;
	color: rgb(255, 255, 50);
	animation: text-neon-animation 1.5s infinite alternate;
}


/* choice.html */

#choice-main {
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
}

#main-logo {
	position: absolute;
	top: 100px;
}

#main-logo img{
	width: 300px;
	height: 300px;
}

#choice {
	justify-content: center;
    align-items: center;
	position: absolute;
	top: 450px;
}

.choice {
	display: flex;
	justify-content: center;
    align-items: center;
	background-color: rgba(100, 100, 100, 0.3);
	width: 200px;
	height: 50px;
	margin: 20px;
	border: 2px solid transparent;
	border-color: rgb(255, 255, 50);
}

.choice a{
	display: flex;
	justify-content: center;
    align-items: center;
	position: absolute;
	width: 200px;
	height: 50px;
	color: rgb(255, 255, 50);
	text-decoration: none;
	font-size: 16pt;
	text-align: center;
	backdrop-filter: blur(2px);
	-webkit-backdrop-filter: blur(2px);
	border: 2px solid transparent;
	background-color: rgba(100, 100, 100, 0.3);
	animation: neon-animation 1.5s infinite alternate,
			   text-neon-animation 1.5s infinite alternate-reverse;
}


/* index.html */

.card {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
    align-items: center;
	width: 13vw;
	height: 20vw;
	margin: 12vh;
}

.tense {
	position: absolute;
	top: -7vw;
	width: 13vw;
	font-size: 20pt;
	text-align: center;
	color: rgb(50, 255, 255);
	animation: current-text-neon-animation 1.5s infinite alternate;
}

.card img {
	display: flex;
	position: absolute;
	width: 13vw;
	height: 20vw;
}

.card-description {
	display: flex;
	justify-content: center;
    align-items: center;
	position: absolute;
	text-align: center;
	color: rgb(50, 255, 255);
	font-size: 12pt;
	animation: current-neon-animation 1.5s infinite alternate,
			   current-text-neon-animation 1.5s infinite alternate-reverse;
}

.card-name {
	position: absolute;
	display: flex;
	justify-content: center;
    align-items: center;
	width: 13vw;
	bottom: -14vh;
	font-size: 20pt;
	text-align: center;
	color: rgb(50, 255, 255);
	animation: current-text-neon-animation 1.5s infinite alternate;
}

#down {
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: center;
    align-items: center;
	width: 40vw;
	height: 8vw;
	bottom: 7px;
	font-size: 18pt;
	color: rgb(255, 255, 50);
	animation: text-neon-animation 1.5s infinite alternate-reverse;
}

#down div {
	display: flex;
	justify-content: center;
    align-items: center;
	width: 20vw;
	height: 5vw;
	margin: 2vw;
	color: rgb(255, 255, 50);
	text-align: center;
	cursor: pointer;
	backdrop-filter: blur(2px);
	-webkit-backdrop-filter: blur(2px);
	background-color: rgba(100, 100, 100, 0.3);
	animation: neon-animation 1.5s infinite alternate,
			   text-neon-animation 1.5s infinite alternate-reverse;
}
#down p {
	text-align: center;
	margin: 3px;
}

#details {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
	top: 50vh;
	left: 50vw;
	transform: translate(-25vw, -40vh);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	background-color: rgba(0, 0, 0, 0.5);
	border: 2px solid transparent;
	animation: current-neon-animation 1.5s infinite alternate-reverse;
}

.details {
	display: flex;
	justify-content: center;
    align-items: center;
	margin: 1vh;
}

.details img {
	width: 10vw;
	height: 10vw;
}

.details p {
	text-align: center;
	font-size: 12pt;
	color: rgb(255, 255, 255);
	animation: text-neon-animation 1.5s infinite alternate;
}

.details a {
	display: flex;
	justify-content: center;
    align-items: center;
	width: 12vw;
	height: 3vw;
	color: rgb(255, 255, 50);
	text-decoration: none;
	font-size: 16pt;
	text-align: center;
	border: 2px solid transparent;
	background-color: rgba(100, 100, 100, 0.6);
	animation: neon-animation 1.5s infinite alternate,
			   text-neon-animation 1.5s infinite alternate-reverse;
}

#details.hidden {
	display: none;
}

#toggle-details.hidden {
	display: none;
}


/* askquestion.html */

#askquestion {
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
	font-size: 16pt;
	color: rgb(50, 255, 255);
	animation: current-text-neon-animation 1s infinite alternate;
}

#askquestion p {
	display: flex;
	justify-content: center;
    align-items: center;
	padding: 1vw;
	border: 2px solid transparent;
	border-color: rgb(255, 255, 50);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	animation: current-neon-animation 1s infinite alternate,
			   current-text-neon-animation 1s infinite alternate;
}

#ball img{
	width: 400px;
	height: 400px;
}

.shake {
	animation: shake 1s;
}

#fortune {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#fortune.hidden {
	display: none;
}


/* animations */

@keyframes neon-animation {
    0% {
        border-color: rgba(255, 255, 50, 1);
		box-shadow:  0 0 3px 3px rgba(255, 255, 50, 1);
    }
	100% {
        border-color: rgba(255, 255, 50, 0.7);
		box-shadow:  0 0 3px 3px rgba(255, 255, 50, 0.5);
    }
}

@keyframes current-neon-animation {
    0% {
        border-color: rgba(50, 255, 255, 1);
		box-shadow:  0 0 3px 3px rgba(50, 255, 255, 1);
    }
	100% {
        border-color: rgba(50, 255, 255, 0.7);
		box-shadow:  0 0 3px 3px rgba(50, 255, 255, 0.5);
    }
}

@keyframes text-neon-animation {
    0% {
		text-shadow: 0 0 5px rgba(255, 255, 50, 0.8);
    }
	100% {
		text-shadow: 0 0 5px rgba(255, 255, 50, 0.5);
    }
}

@keyframes current-text-neon-animation {
    0% {
		text-shadow: 0 0 5px rgba(50, 255, 255, 0.8);
    }
	100% {
		text-shadow: 0 0 5px rgba(50, 255, 255, 0.5);
    }
}

@keyframes shake {
	0% {
		transform: translate(4px, 4px) rotate(0deg);
	}

	10% {
		transform: translate(-4px, -4px) rotate(-1deg);
	}

	20% {
		transform: translate(-7px, 0px) rotate(1deg);
	}

	30% {
		transform: translate(7px, 4px) rotate(0deg);
	}

	40% {
		transform: translate(4px, -4px) rotate(1deg);
	}

	50% {
		transform: translate(-4px, 4px) rotate(-1deg);
	}

	60% {
		transform: translate(-7px, 4px) rotate(0deg);
	}

	70% {
		transform: translate(7px, 4px) rotate(-1deg);
	}

	80% {
		transform: translate(-4px, -4px) rotate(1deg);
	}

	90% {
		transform: translate(4px, 4px) rotate(0deg);
	}

	100% {
		transform: translate(4px, -4px) rotate(-1deg);
	}
}

#fortune {
	text-align: center;
}
